# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

venv/
venv/*
files/*
.init/
.init/*
.idea/
.idea.*
__pycache__/
__pycache__/*
*.c
*.java
*.py
*.class
*.jar
*.zip

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
*.idea/modules.xml
*.idea/jarRepositories.xml
*.idea/compiler.xml
*.idea/libraries/
*.iws
*.iml
*.ipr
*.mvn

### VS Code ###
*.vscode/


